/* Header */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner1.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh; 
	background-attachment: fixed;
}

.text-box {
	position: absolute;
	width: 1140px;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 60px;
	width: auto;
	float: left;
    margin-top: 30px;
    margin-left: 80px;
}

.main-nav {
	float: right;
	list-style: none;
    margin-top: 55px;
    margin-right: 80px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px transparent;
	transition: border-bottom 0.1s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #f7e900;
}

/* Sobre */

.section-about{
    margin-top: 90px;
  background-color: #ffffff;
  display: inline-block;
}

.steps-box:last-child {
    padding-left: 3%;
    width: 50%;
	padding-top: 70px;
}

.about {
    width: 40%;
    height: 500px;
    padding-right: 25px;
    float: right;
    object-fit: cover;
}

.geral-junto {
    padding-top: 50px;
}

/* Banner2 */

.banner2 {
  margin-top: 150px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner5.jpg");
	background-size: cover;
	background-position: center;
	height: 70vh; 
  background-attachment: fixed;
 
}

/* Produtos */

.section-product{
margin-top: 140px;
background-color: #ffffff;
}

.steps-box:last-child {
  padding-left: 3%;
  width: 50%;
padding-top: 70px;
}

.imgproduct {
  width: 40%;
  height: 500px;
  padding-right: 25px;
  float: right;
  object-fit: cover;
}

.product {
  padding-top: 50px;
}


/* rodapé */
footer .paragrafoh {
  margin-top: 80px;
  display: inline-block;
	bottom: 0px;
  width: 100%;
  background: #f7e900;
 
}

.paragrafo2 {
  text-align: center;
  font-size: 12px;
}




